body {
  background-image:url(../images/bg.jpg);
  background-position: top center;
  background-repeat:no-repeat;
  background-color:black;
}

.row {
  margin-top:40px;
}

label {
  color:#fff;
}

#btn-submit {
  background: #0d99e5;
  background: -moz-linear-gradient(top,  #0d99e5 0%, #0fb4e7 100%);
  background: -webkit-linear-gradient(top,  #0d99e5 0%,#0fb4e7 100%);
  background: linear-gradient(to bottom,  #0d99e5 0%,#0fb4e7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d99e5', endColorstr='#0fb4e7',GradientType=0 );
  border:0;
  color:#FFF;
  margin-top:10px !important;
}

.table-responsive {
  align-content: center;
  background-color:#111;
}

.table {
  border-color:#222 !important;
}

.t-field {
  width: 105px;
}

.t-text {
  width: 150px;
}

.t-num {
  width: 100px;
}

.mytitle {
  color:#fff !important;
  text-transform:uppercase;
  font-size:25px;
  font-weight:bold;
  text-align:center;
  margin-bottom:20px;
}

nav {
  background-color:#171717 !important;
  border-bottom:1px solid #222 !important;
  border-radius:0 !important;
}

.active a {
  background-color:#222 !important;
}

.panel {
  border-color:#333;
  background-color:#222;
  color:#999 !important;
}

.panel-heading {
  background-color:#171717 !important;
  color:#fff !important;
  border-color:#333 !important;
  font-weight:bold;
  font-variant:small-caps;
}

.progress {
  position:relative;
}

.progresstext {
  position:absolute;
  text-align:center;
  color:#000;
  width:100%;
}

body {
  padding: 0;
  margin: 0;
}

#notfound {
  position: relative;
  height: 100vh;
  /* background: #030005; */
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 767px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 180px;
  margin-bottom: 20px;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50% , -50%);
      -ms-transform: translate(-50% , -50%);
          transform: translate(-50% , -50%);
  font-size: 224px;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -12px;
  color: #030005;
  text-transform: uppercase;
  text-shadow: -1px -1px 0px #8400ff, 1px 1px 0px #ff005a;
  letter-spacing: -20px;
}


.notfound .notfound-404 h2 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 110px;
  font-size: 42px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px 2px 0px #8400ff;
  letter-spacing: 13px;
  margin: 0;
}

.notfound a {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  text-transform: uppercase;
  color: #ff005a;
  text-decoration: none;
  border: 2px solid;
  background: transparent;
  padding: 10px 40px;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  color: #8400ff;
}

@media only screen and (max-width: 767px) {
    .notfound .notfound-404 h2 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 h1 {
      font-size: 182px;
  }
}
